<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <ul>
      {{#if user}}
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/dog/new">Sign your dog up!</a>
      </li>
      <li>
        <a href="/auth/logout">Log Out</a>
      </li>
      <li>
        <a href="/auth/main">Find a Dog!</a>
      </li>
      <a href="/dog/list">See all Dogs!</a>
      </li>
      {{/if}} {{#unless user}}
      <li>
        <a href="/auth/signup">Sign Up</a>
      </li>
      <li>
        <a href="/auth/login">Log In</a>
      </li>
      {{/unless}}
    </ul>
  </nav>

  {{{body}}}
  <footer>
    Designed with ♡ in Madrid      |||      <a href="https://github.com/UntitledModule2Project/PetMyDog">GitHub Repo</a>
  </footer>
  
  <script src='/javascripts/script.js'></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmknxLuNO4QWf43Tg5McsdhWCtiOuaCeA"></script>
</body>

</html>