@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great|Overlock:400,700");

body {
  padding: 0;
  margin: 0;
  font: 1.6em "Overlock", Verdana, serif;
  max-height: 100%;
  width: auto;
  background-image: url("../images/happy-dog-running-by-500px.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
main {
  min-height: calc(100vh - 150px);
  padding: 90px 50px 0 50px;
}
nav {
  background-color: rgba(29, 27, 27, 0.9);
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.9);
  font-family: "Fredericka The Great", Verdana, serif;
  width: 100%;
  height: 60px;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-evenly;
  align-content: space-around;
  padding: 0;
  margin: 0 auto;
}
ul > li {
  list-style-type: none;
}
a {
  color: #00b7ff;
  text-decoration: none;
  font-weight: 900;
}
h1 {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  font-family: "Fredericka The Great", sans-serif;
  font-size: 3em;
}
select{
  height:27px;
  background: #fff;
}
textarea{
  width:700px;
}
#form {
  margin: 30px auto;
  width: 700px;
  font-size: 1.3em;
  font-weight: 900;
}
#form label , #form p {
  color:white; 
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
#form select {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;

}
#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
}
#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}
#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}
.title {
  width: 980px;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px;
}

.dog-container img {
  width: auto;
  height: 100%;
}

.dog-container {
  max-width: 100%;
  padding-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(15, 18, 19, 0.3);
}

.dog-container article {
  margin: 50px 0;
  width: 30%;
  height: 450px
}

.dog-container article > div {
  height: 250px;
  margin-bottom: 20px;
}

.dog-container article img {
  display: block;
  margin: auto;
  border-radius: 10px;
}
.infoWindow{
  color: black;
}
.schedule{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.options{
  display: flex;
  justify-content: space-around;
}
.profile{
  height:2000px;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 980px;
  max-width: 100%;
  margin:0 auto;
  background-color: rgba(15, 18, 19, 0.3);
  text-align: center;
}
.profile img{
  max-width: 100%;
  border-radius: 10px;
}
#profile{
  justify-content: center;
  align-items: center;
}
.comment{
  width:630px;
  list-style: none;
}