<h2>Find a dog!!!</h2>

<label for="breed">Filter (by breed)</label>
<select name="breed" id="breed">
    <option value="German Shepherd">German Shepherd</option>
    <option value="Labrador Retreiver">Labrador Retreiver</option>
    <option value="Golden Retreiver">Golden Retreiver</option>
    <option value="English Bulldog">English Bulldog</option>
    <option value="French Bulldog">French Bulldog</option>
    <option value="Beagle">Beagle</option>
    <option value="Poodle">Poodle</option>
    <option value="Chihuahua">Chihuahua</option>
    <option value="Pug">Pug</option>
    <option value="Rottweiler">Rottweiler</option>
    <option value="Yorkie">Yorkie</option>
    <option value="Husky / Alaskan Malamute">Husky / Alaskan Malamute</option>
    <option value="Boxer">Boxer</option>
    <option value="Mastiff">Mastiff</option>
    <option value="Great Dane">Great Dane</option>
    <option value="Daschund">Daschund</option>
    <option value="Pitbull">Pitbull</option>
    <option value="Doberman">Doberman</option>
    <option value="Bichon Frisee">Bichon Frisee</option>
    <option value="Shih Tzu">Shih Tzu</option>
    <option value="Akita">Akita</option>
    <option value="Shiba Inu">Shiba Inu</option>
    <option value="Border Collie">Border Collie</option>
    <option value="Chow Chow">Chow Chow</option>
    <option value="Pomeranian">Pomeranian</option>
    <option value="Greyhound">Greyhound</option>
    <option value="Corgi">Corgi</option>
    <option value="Saint Bernard">Saint Bernard</option>
    <option value="Dalmatian">Dalmatian</option>
    <option value="Bernese Mountain Dog">Bernese Mountain Dog</option>
    <option value="Cocker Spaniel">Cocker Spaniel</option>
    <option value="Pincher">Pincher</option>
    <option value="Bassett Hound">Bassett Hound</option>
    <option value="Shetland Terrier">Shetland Terrier</option>
    <option value="Collie">Collie</option>
    <option value="Mixed">Mixed</option>
    <option value="Collie">Other</option>
</select>
<button>Filter</button>
<br>
<br>
<div id="map" style="height:700px"></div>
<script>
    window.dogs = {{{dogs}}};
</script>