<<<<<<< HEAD
<div class ="dog-container">
    {{#each dogs}}
    {{>dogPartial}}
=======
<div class="dog-container">
    {{#each dogs}} 
     {{> dogPartial }}
>>>>>>> abdede2fa93ce3325865f1efca01dcea5bb0e004
    {{/each}}
</div>