<div class="schedule">
    <h2>Go pet It!</h2>
    <h3> {{templateDog.name}} is here:</h3>
    <div id="map3" style="height:500px; width:600px"></div>
    <script>
        window.dog = {{{dog}}}
    </script>
</div>